<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <title>EasyMeal</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">EASYMEAL MANAGE</a>
            <div class="col-4 text-right">
                @await Component.InvokeAsync("InputMealsSummary")
            </div>
            <div class="col-2">
                <a class="btn btn-sm btn-primary"
                   asp-action="Logout" asp-controller="Account">Log Out</a>
            </div>
            <div class="col-2">
                <a class="btn btn-sm btn-primary"
                   asp-action="Index" asp-controller="Admin">Manage meals</a>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @if (TempData["message"] != null) {
                <div class="alert alert-success mt-1">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
    </div>
</body>
</html>
